<h1 class="small-margin">Registration Form</h1>
<div class="input-bg">
    <form method="post" action="/register/create">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="Username" value=""><br><br>
        <label for="password1">Password</label><br>
        <input type="password" name="password1" placeholder="Password" value=""><br><br>
        <label for="password1">Retype password</label><br>
        <input type="password" name="password2" placeholder="Confirm Password" value=""><br><br>
        <input class="button" type="submit" value="Submit">
    </form>
</div>