<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CRUD</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <header>
    <ul class="navBar">
      <li class="nav-li"><a href="/">Homepage</a></li>
      <li class="nav-li"><a href="/snippets/">Snippets</a></li>
      <li class="nav-li"><a href="/login/">Login</a></li>
      <li class="nav-li"><a href="/register/">SignUp</a></li>
    </ul>
  </header>

    <div id="container" class="center-text">
      <div class="alert alert-warning center-text">
        <h1>404 Not Found</h1>
      </div>
    </div>

    <div class="footer">
      <footer>
        <p>Website Footer.</p>
      </footer>
    </div>
  </body>
</html>
