<div class="footer">
    <footer>
        <p class="copyright-text">
            Copyright &copy; 2021 All Rights Reserved.
        </p>
        <p>Email: ck222su@student.lnu.se</p>
        <p>
            <a href="https://coursepress.lnu.se/courses/server-based-web-programming/">Course webpage</a>
        </p>
    </footer>
</div>

