<header>
    <ul class="navBar">
        <li class="nav-li"><a href="/">Homepage</a></li>
        <li class="nav-li"><a href="/snippets/">Snippets</a></li>
        {{#if expreq.length }}
        <li class="nav-li"><a href="/logout/">Logout</a></li>
        <li class="nav-li logged-in">Hej {{expreq}}</li>
    </ul>
    {{else}}
    <li class="nav-li"><a href="/login/">Login</a></li>
    <li class="nav-li"><a href="/register/">SignUp</a></li>

    </ul>
    {{/if}}
</header>